div.button {
    border: 1px solid #404040;
    border-radius: 5px;
    box-shadow: 2px 3px 0 #202020, inset 2px 2px 2px #606060;
    text-align: center;
    font-size: 20px;
    white-space: nowrap;
    padding: 5px;
    background: -moz-linear-gradient(top, rgba(69,72,77,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b345484d', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}
div.button:active {
    transform: translate(2px, 3px);
    box-shadow: 0 1px 0 #202020, inset 2px 2px 2px #606060;
}
div.button > div {
    line-height: 30px;
}
div.button > div.single-line { 
    line-height: 60px;
}
div.select-buttons > div.button {
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
    height: 40px;
    padding: 0;
}
div.led {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px rgba(16, 16, 16, 0.9);
}
div.led.off {
    background: #404040;
}
div.led.on {
    background: yellow;
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.9);
}