* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

html, body {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 480px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: black;
    color: white;
    font: 12px Arial, Helvetica, sans-serif;
    border: 1px solid white;
}
body {
    padding-left: 8px;
    padding-top: 75px;
}
div.ufcp {
    display: grid;
    grid-template-columns: 240px 80px 220px 80px 160px;
}
div.part {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 70px 70px 70px 70px;
    padding: 5px;
}
div.numpad {
    grid-template-columns: 70px 70px 70px;
}
div.select-buttons {
    grid-template-columns: 70px;
}
div.scratchpads {
    grid-template-columns: 240px;
}
div.prio-buttons {
    grid-template-columns: 70px 70px;
}