@font-face {
    font-family: matrix;
    src: url('../fonts/ledbdrev.ttf');
}
div.scratchpad {
    font-family: matrix;
    font-size: 25px;
    color: rgba(255, 255, 0, 0.8);
    letter-spacing: 5px;
    transform: scaley(150%) translateY(30%);
}
div.scratchpad > span {
    border: 2px solid #404040;
    border-radius: 5px;
    padding: 5px 3px 5px 10px;
    box-shadow: inset 2px 2px 2px #202020;
    background: #101010;
}
div.label {
    display: inline-block;
    font-weight: bold;
    font-size: 23px;
    transform: translateY(-15px);
}
div.label.left {
    float: left;
    transform: translate(10px, -15px);
}
div.label.right {
    float: right;
    transform: translate(-40px,-15px);
}